<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div id="toggle-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sidebar-brand">
                    <a href="#">Admin-Dashboard</a>
                </div>
                <div class="sidebar-header">

                    <div class="user-info">
                        <span class="user-name">
                            <strong>Admin name</strong>
                        </span>

                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a [routerLink]="['/admindashboard/announcements']" routerLinkActive="active">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Announcements</span>
                                <span class="badge badge-pill badge-danger">New</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a [routerLink]="['/admindashboard/students']" routerLinkActive="active">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Students</span>
                                <span class="badge badge-pill badge-primary">3</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a [routerLink]="['/admindashboard/teachers']" routerLinkActive="active">
                                <i class="far fa-gem"></i>
                                <span>Teachers</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a [routerLink]="['/admindashboard/studyfields']" routerLinkActive="active">
                                <i class="far fa-gem"></i>
                                <span>Study fields</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a [routerLink]="['/admindashboard/subjects']" routerLinkActive="active">
                                <i class="far fa-gem"></i>
                                <span>Subjects</span>
                            </a>

                        </li>

                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-12">
                        <h1>Subject management</h1>
                    </div>
                </div>

                <hr>
                <div class="row">
                  <table class="table table">


                    <thead>
                      <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                        <th style="float:right;border:none">
                             <input class="btn btn-primary" type="button" value="Add a new subject" (click)="openAddDialog()">
                           </th>
                      </tr>
                      <tr>
                        <th>subject ID</th>
                        <th>subject name</th>
                        <th>subject study year</th>
                        <th>subject study semester</th>
                        </tr>
                      </thead>
                  <tbody>
                    <tr *ngFor="let subject of subjects;">
                      <td>{{subject.id}}</td>
                      <td>{{subject.name}}</td>
                      <td>{{subject.study_year}}</td>
                      <td>
                        {{subject.semester}}
                        <a id="deleteButton" style="float: right" (click)="deleteSubject(subject.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                        </a>
                      </td>

                    </tr>
                  </tbody>
                  </table>

                </div>
            </div>
    </main>
    <!-- page-content" -->
    </div>
